<div class="row">
  <div class="col-md-12 mb-2">
    <table class="table table-striped table-hover"> 
    <tr>
        <th>You loved the <%= @dish.name%> at... </th>
        <th> 
          <% if @dish.cuisine_id.present? %>
            <%= Cuisine.find(@dish.cuisine_id).name %>
          <% else %>
        <% end %>
        </th>
    </tr>

    <tr>
      <td>
        <form action="/create_bookmark" class="form-inline" method="post">
          
          <div class="form-group">
            <label for="venue_id" class="control-label">
            </label>
              <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @bookmark.try(:venue_id)),:prompt => "Choose a venue", :class => "form-control") %>
          </div>
          
          <input type="hidden" name="dish_id" value="<%=@dish.id%>">
          <input type="hidden" name="user_id" value="<%=current_user.id%>">
          <input type="hidden" name="notes" value="">
          
          
          <button class="btn btn-primary btn-sm">
            <i class="fa fa-heart"></i>
          </button>
        </form>
      </td>
    </tr>
    
    <% @dish.specialists.each do |venue| %>
      <tr>
        <td>
          <p> 
            <a href="/venues/<%= venue.id %>">
            <%= venue.name %>
            </a>
          </p>
        </td>
        <td>
          <p>
          <small class="float-right text-muted">
            <% Bookmark.where(venue_id: venue.id, dish_id: @dish.id).each do |bookmark|%>
             
              <%= time_ago_in_words(bookmark.updated_at) %> ago
              <a href="/bookmarks/<%= bookmark.id %>/edit">
                <i class="fa fa-fw fa-edit"></i>
              </a>
              <a href="/delete_bookmark/<%= bookmark.id %>">
                <i class="fa fa-fw fa-trash-o"></i>
              </a>
              <% end %>
          </small>
        </p>
      </td>
        </p>
      </tr>
    <% end %>
    
      
      
    
    
    
    </table>

    </div>
  </div>
</div>

<!-- A Dish has many bookmarks -->


<!-- A Dish has many fans -->


<!-- A Dish has many specialists -->

